{
  "services": [
{% if consul_server %}
    {
      "name": "{{ consul_exporter.service.name }}",
{% if consul_exporter.service.tags %}
      "tags": ["{{ consul_exporter.service.tags|join('", "') }}"],
{% endif %}
{% if consul_exporter.service.meta %}
      "meta": {
{% for key, value in consul_exporter.service.meta.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
      },
{% endif %}
      "address": "{{ consul_exporter.host }}",
      "port": {{ consul_exporter.port }},
      "checks": [
        {
          "id": "consul_exporter_check",
          "name": "Prometheus consul exporter health check",
          "http": "http://{{ consul_exporter.host }}:{{ consul_exporter.port }}",
          "interval": "20s"
        }
      ]
    }
{% endif %}
  ]
}
