---

version: '3.5'

volumes:
  data:

services:
  server:
    container_name: {{ consul_container.name }}
    image: {{ consul_container.image }}
    command: consul agent -config-file /etc/consul/config.json -config-dir /etc/consul/conf.d
{% if env != 'local' %}
    logging:
      driver: syslog
      options:
        syslog-address: "unixgram:///dev/log"
        tag: consul
{% endif %}
    ports:
      - {{ private_network.address }}:8300:8300
      - {{ private_network.address }}:8301:8301
      - {{ private_network.address }}:8301:8301/udp
      - {{ private_network.address }}:8302:8302
      - {{ private_network.address }}:8302:8302/udp
      - {{ private_network.address }}:8400:8300
      - {{ private_network.address }}:8500:8500
      - {{ private_network.address }}:8600:8600/udp
    restart: {{ consul_container.restart }}
    stop_signal: SIGINT
    volumes:
      - ./:/etc/consul
      - data:/consul/data

{% if consul_server %}
  exporter:
    container_name: {{ consul_exporter.container.name }}
    image: {{ consul_exporter.container.image }}
    dns: {{ consul_exporter.container.dns }}
    command: --consul.server={{ private_network.address }}:8500
{% if env != 'local' %}
    logging:
      driver: syslog
      options:
        syslog-address: "unixgram:///dev/log"
        tag: consul_exporter
{% endif %}
    ports:
      - {{ consul_exporter.host }}:{{ consul_exporter.port }}:9107
    restart: {{ consul_exporter.container.restart }}
{% endif %}
